<html>
  <head>
    <title>Bill Management system  -  Change Password</title>
    <meta charset="UTF-8">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
     <link rel="stylesheet" type="text/css" href="../css/login.css">
     <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container second">
        <div class="card card-container second">
            <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
            <h3 class = "headpos">Change <large class="text-muted">Password?</large></h3>
            <img id="profile-img" class="profile-img-card" src="../imgs/cmuq_red.jpg" />
            <p id="profile-name" class="profile-name-card"></p>
            <form class="form-signin">
                <span id="reauth-email" class="reauth-email"></span>
                <input type="email" id="andrewID" class="form-control" placeholder="Andrew ID" required autofocus>
                <input type="email" id="userName" class="form-control" placeholder="Username" required>
                <input type="password" id="userPassword" class="form-control" placeholder="Password" required>
                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm Password" required>
        
                <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit" onclick = "validateChange()">Submit</button>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->
  </body>

  <script>

    const remote = require('electron').remote;

    remote.getCurrentWindow().focus();

    var $ = require('jquery')
    // You can also require other files to run in this process
    // require('../renderer.js')
    // $(document).ready(function(){
      $("#userName").focus()
    // });
    var bcrypt = require('bcrypt-nodejs');
    var mysql = require('mysql');
    var connection = mysql.createConnection({
            host     : 'mysql.qatar.cmu.local',
            user     : 'fmbills_user',
            password : 'F@mB11lsU$er', // or the original password : 'apaswword'
            database : 'fmbills',
            insecureAuth: true
    });

    // connect to mysql
    connection.connect(function(err) {
      // in case of error
      if(err){
          console.log(err.code);
          console.log(err.fatal);
      }
    });

    function validateChange(){
        var id = document.getElementById("andrewID").value
        var user = document.getElementById("userName").value
        var pass = document.getElementById("userPassword").value
        var conpass = document.getElementById("confirmPassword").value

        if (user == "" || pass == "" || id == "" || conpass == "") {
          alert("All fields are required!!", "Bill Management System")
          return;
        }

        else if (pass != conpass){
          alert("Password is not the same as Confirm Password!", "Bill Management System");
          return;
        }

        else {

          $query = 'SELECT `andrewId` FROM `user` WHERE `userName` = '+"'"+user+"'"
          connection.query($query, function(err, rows, fields) {

              if(err){
                  console.log("An error ocurred performing the query.");
                  console.log(err);
                  return;
              }

              if (rows.length == 0){
                alert("Username does not exist!", "Bill Management System");
                return;
              }
              else {
                if (rows[0].andrewId != id){
                  alert("andrewID does not match the User!", "Bill Management System");
                  return;
                }
                else{
                  var hash = bcrypt.hashSync(pass);
                  
                  $query = "UPDATE `user` SET `passwordDigest` = '"+ hash +"', andrewId = '"+ id +"' WHERE `userName` = '"+ user +"';";

                  connection.query($query, function(err, rows, fields){
                    if(err){
                      console.log("An error ocurred performing the query.");
                      console.log(err);
                      return;
                    } 
                    alert("Password Succesfully Updated!", "Bill Management System");
                    remote.getCurrentWindow().close();
                  });
                }
              }
          });
        }
    }

  </script>
</html>