<div id = "page-wrapper">
      <div class="col-md-17">
      <div class="plan">
          <div class="plan-name">
            <center>
            <span><h2 id="amount"> All Bills</h2></span>
            </center>
          </div>
          <div class="table-responsive" style="color: #990000;">
            <label>Date:  </label><input type="month" name="datepicker" id="datepicker" style="color: #000;"/>
          <button type="button" class="btn btn-default" onclick="UpdateBills()">show</button>
          <button type="button" class="btn btn-default" onclick="goAllBills()">show all</button>
          <div class = "billsDiv2">
            <table id="allBills2" class="table table-bordred table-striped">
              </table>   
          </div>
                 
          </div>  
        </div>
    </div>
    </div>
     <script>
        require('../renderer.js');
          
       
        var $     = require( 'jquery' );
        var mysql = require('mysql');
        // var bcrypt = require('bcrypt');
        var connection = mysql.createConnection({
            host     : 'mysql.qatar.cmu.local',
            user     : 'fmbills_user',
            password : 'F@mB11lsU$er', // or the original password : 'apaswword'
            database : 'fmbills',
            insecureAuth: true
        });
        // connect to mysql
        connection.connect(function(err) {
            // in case of error
            if(err){
                console.log(err.code);
                console.log(err.fatal);
            }
        });
        $query = "SELECT CONCAT_WS(' ', `employee`.`firstName`, `employee`.`lastName`) AS `empName` , `bill`.`landline` , `employee`.`contractType`, `bill`.`billNo` , `bill`.`totalAmountDue` , `bill`.`billDate` , `bill`.`pdfUrl` FROM `employee` INNER JOIN `assignment` on `employee`.`andrewId` = `assignment`.`andrewId` RIGHT JOIN `bill` on `assignment`.`landline` = `bill`.`landline` AND ((date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-%d') <`assignment`.`endDate` AND (date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-%d') >= `assignment`.`startDate`)) OR (`assignment`.`endDate` = '0000-00-00' AND (date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-%d') >= `assignment`.`startDate`))) limit 500;";



         
        connection.query($query, function(err, rows, fields) {
          if(err){
              console.log("An error ocurred performing the query.");
              console.log(err);
              return; 
          }
          $('#allBills2').bootstrapTable({
              data: rows ,
              height: 530,
              cache: false,
              striped: true,
              pagination: true,
              pageSize: 10,
              pageList: [10,25,50,100,200],
              minimumCountColumns: 2,
              search: true,
              showRefresh:true,
              checkboxEnable: true,
              columns: [{
                  field: 'landline',
                  title: 'Landline',
                  sortable: true
              }, {
                  field: 'empName',
                  title: 'Employee',
                  sortable: true
              }, {
                  field: 'contractType',
                  title: 'Contract',
                  sortable: true
              }, {
                  field: 'billNo',
                  title: 'Bill No.',
                  sortable: true
              }, {
                  field: 'totalAmountDue',
                  title: 'Total Amount Due',
                  sortable: true
              }, {
                  field: 'billDate',
                  title: 'Bill Date',
                  sortable: true
              }, {
                  field: 'operatePDF',
                  title: 'PDF',
                  align: 'center',
                  events: operateEventsBill,
                  formatter: operateFormatterBill
              },]
          }); 
        });
        function operateFormatterBill(value, row, index) {
            return [
                '<a class="openFile" href="javascript:void(0)" title="OpenPDF">',
                '<i class="glyphicon glyphicon-open-file"  data-toggle="" data-target="" ></i>',
                '</a>  '
            ].join('');
        }
  
        window.operateEventsBill = {
            'click .openFile': function (e, value, row, index) {
              url = row.pdfUrl;
              openPDf(url);
            }
        };
        function openPDf(url){
          const shell = remote.getGlobal('shell');
          if (shell.openItem(url)){
            shell.openItem(url);
          }
          else{
            alert("Couldn't open link.", "Bill Management System");
          }
        }
        // var app = angular.module('myApp', []);
        var mydate=new Date()
        var year=mydate.getYear()
        
        if (year < 1000)
            year+=1900
        
        var month=mydate.getMonth()+1
        
        if (month<10)
            month="0"+month
        // var showDate = ;
        // console.log(showDate)
        function endConnection() {
          connection.end();
        }
        function UpdateBills(){
            var showDate= document.getElementById("datepicker").value+"-01"
  
            $('.billsDiv2 > div').remove();
            $('.billsDiv2').append('<table id="allBills2" class="table table-bordred table-striped"></table>')
            
            $query = "SELECT CONCAT_WS(' ', `employee`.`firstName`, `employee`.`lastName`) AS `empName` , `bill`.`landline` , `bill`.`billNo` , `bill`.`totalAmountDue` , date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m') as `bdate`, `bill`.`billDate` FROM `employee` INNER JOIN `assignment` on `employee`.`andrewId` = `assignment`.`andrewId` RIGHT JOIN `bill` on `assignment`.`landline` = `bill`.`landline`  AND ((date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-%d') <`assignment`.`endDate` AND (date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-%d') > `assignment`.`startDate`)) OR (`assignment`.`endDate` = '0000-00-00' AND (date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-%d') >= `assignment`.`startDate`))) WHERE DATEDIFF(date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-01'),'"+showDate+"') = 0 ;";
                    connection.query($query, function(err, rows, fields) {
                      if(err){
                          console.log("An error ocurred performing the query.");
                          console.log(err);
                          return; 
                      }
                      console.log(rows)
                      $('#allBills2').bootstrapTable({
                          data: rows ,
                          height: 530,
                          cache: false,
                          striped: true,
                          pagination: true,
                          pageSize: 10,
                          pageList: [10,25,50,100,200],
                          minimumCountColumns: 2,
                          search: true,
                          showRefresh:true,
                          checkboxEnable: true,
                          columns: [{
                              field: 'landline',
                              title: 'Landline',
                              sortable: true
                          }, {
                              field: 'empName',
                              title: 'Employee',
                              sortable: true
                          }, {
                              field: 'billNo',
                              title: 'Bill No.',
                              sortable: true
                          }, {
                              field: 'totalAmountDue',
                              title: 'Total Amount Due',
                              sortable: true
                          }, {
                              field: 'bdate',
                              title: 'Bill Date',
                              sortable: true
                          }, {
                              field: 'pdfUrl',
                              title: 'pdf',
                              sortable: true
                          },]
                      });
                    });
          $query2 = "SELECT SUM(totalAmountDue) as sum  FROM `employee` INNER JOIN `assignment` on `employee`.`andrewId` = `assignment`.`andrewId` RIGHT JOIN `bill` on `assignment`.`landline` = `bill`.`landline`  AND ((date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-%d') <`assignment`.`endDate` AND (date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-%d') > `assignment`.`startDate`)) OR (`assignment`.`endDate` = '0000-00-00' AND (date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-%d') >= `assignment`.`startDate`))) WHERE DATEDIFF(date_format(str_to_date(`bill`.`billDate`, '%d %M %Y'), '%Y-%m-01'),'"+showDate+"') = 0 ;";


         connection.query($query2, function(err, rows, fields) {
                      if(err){
                          console.log("An error ocurred performing the query.");
                          console.log(err);
                          return; 
                      }
                      console.log(rows[0].sum)
            document.getElementById("amount").innerHTML = "Total Amount Due "+Math.ceil(rows[0].sum)+" QAR";
        });
      }
       /* $query = "SELECT CONCAT_WS(' ', `employee`.`firstName`, `employee`.`lastName`) AS `empName` FROM `employee`;";*/
        
</script>