	
		<div class="container newone">
			<div class="card card-container">
                    <div class="row indi">
                        <div class="heading-title">
                            <h3 class="text-uppercase headpos">Meet The Team</h3>
                            <p class="p-top-30 half-txt">This application was made as part of the 67-373 
                                Software Development Course during summer 2017.</p>
                        </div>
     
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../imgs/maneess.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hi There !</h4>
                                        <p>I like to introduce myself as a Full Stack Developer and Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="mailto:manees@andrew.cmu.edu"><i class="fa fa-envelope"></i></a>
                                        <a href="tel:+97433179102"><i class="fa fa-mobile-phone"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Talha Anees</h5>
                                <span>Back-End Developer &amp; designer</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../imgs/ykhan.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>I like to introduce myself as a Full Stack Developer & Database developer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="mailto:yasirk@andrew.cmu.edu"><i class="fa fa-envelope"></i></a>
                                        <a href="tel:+97455433826"><i class="fa fa-mobile-phone"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Yasir Khan</h5>
                                <span>Back-End Developer &amp; Database developer</span>
                                
                            </div>
                        </div>

                    </div>
               

                
                    <div class="row indi">
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../imgs/bhasnahh.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>Hello World</h4>
                                        <p>I love to introduce myself as a hardcore Database Developer and Web Designer.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="mailto:bmhasnah@andrew.cmu.edu"><i class="fa fa-envelope"></i></a>
                                        <a href="tel:+97433253158"><i class="fa fa-mobile-phone"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>Batoul Hasnah</h5>
                                <span>Database Developer &amp; Designer</span>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <div class="team-member">
                                <div class="team-img">
                                    <img src="../imgs/jkim.jpg" alt="team member" class="img-responsive">
                                </div>
                                <div class="team-hover">
                                    <div class="desk">
                                        <h4>I love to manage!</h4>
                                        <p>I love to manage teams and look into the business aspect of technologies.</p>
                                    </div>
                                    <div class="s-link">
                                        <a href="mailto:jinsolk @andrew.cmu.edu"><i class="fa fa-envelope"></i></a>
                                        <a href="tel:+97477474002"><i class="fa fa-mobile-phone"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="team-title">
                                <h5>insol Kim</h5>
                                <span>Manger &amp; Documentation Lead</span>
                            </div>
                        </div>

                    </div>
                </div>
                </div>