
    <div id = "page-wrapper">
      <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <a class="btn btn-danger" role = "button" onclick="goNewHouse()">New Landline</a>
        <a class="btn btn-danger" role = "button" onclick="goNewLandline()">New Landline Assignment</a>
      </div>
    </div>
        <div class="col-md-10">
          <div class="table-responsive">
            <h1 id="mainTitle"> Occupied Houses</h1>
                <table id="occupiedHouses" class="table table-bordred table-striped">
              </table>    
          </div>  
        </div>
           <div class="col-md-10">
          <div class="table-responsive">
            <h1 id="mainTitle"> Vacant Houses</h1>
                <table id="vacantHouses" class="table table-bordred table-striped"></table>    
          </div>  
        </div>
    </div>



            <div class="modal fade" id="myModal" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-body">
                      




                      <form class="form-horizontal" action='' method="POST">
                        <fieldset>
                          <div id="legend">
                            <legend class="">Edit Employee</legend>
                          </div>
                          <div class="control-group">
                            <label class="control-label"  for="FN">Unit Number</label>
                            <div class="controls">
                              <input id="housingUnitNo" type="text" placeholder="Unit Number" class="input-xlarge">
                            </div>
                          </div>
                           <div class="control-group">
                            <label class="control-label"  for="LN">Landline</label>
                            <div class="controls">
                              <input id="housingLandLine" type="text" placeholder="Landline" class="input-xlarge" disabled>
                            </div>
                          </div>
                       
                          <div class="control-group">
                            <label class="control-label" >Compound Name</label>
                                  <div class = "Select">
                                    <select id="housingCompName">
                                    </select>
                                 </div>
                          </div>
                       <br>
                          <div class="control-group">
                            <!-- Button -->
                            <div>
                              <a href="#" class="btn btn-primary btn-md" onclick = "updateHousing()" data-dismiss="modal">Update</a>
                            </div>
                          </div>
                        </fieldset>
                      </form>






                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>









<!-- //////     EDIT ASSIGNMENT MODAL -->


           <div class="modal fade" id="editAssignment" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-body">
                      
                    <div id = "assignmentId" style="display: none;"></div>



                      <form class="form-horizontal" action='' method="POST">
                        <fieldset>
                          <div id="legend">
                            <legend class="">Edit Employee</legend>
                          </div>


<!--                           <div class="control-group">
                            <label class="control-label"  for="UN">Unit Number</label>
                            <div class="controls">
                              <input id = "houseUnitId" type="text" placeholder="Unit Number" class="input-xlarge">
                            </div>
                          </div>
 -->
                           <div class="control-group">
                            <label class="control-label">Landline Number</label>
                            <div id = "landLineSelect">
                              <select id="assignmentLandlineNo">
                              </select>
                           </div>
                          </div>


<!--                           <div class="control-group">
                            <label class="control-label" >Compound Name</label>
                                  <div class = "compNameSelect">
                                    <select id="housingCompName2">
                                    </select>
                                 </div>
                          </div> -->

                          <div class="control-group">
                            <label class="control-label">Start Date</label>
                            <div class="controls">
                              <input id = "assignmentStartDate" type="date" placeholder="" class="input-xlarge">
                            </div>
                          </div>
                        <div class="control-group">
                            <label class="control-label">End Date</label>
                            <div class="controls">
                              <input id = "assignmentEndDate" type="date" placeholder="" class="input-xlarge">
                            </div>
                          </div>
                       

                          
                          <div class="control-group">
                            <label class="control-label"  for="UN">Employee Andrew ID</label>
                            <div class = "andrewIdSelect">
                              <select id="assignmentAndrewId">
                              </select>
                           </div>
                          </div>


                       <br>
                          <div class="control-group">
                            <!-- Button -->
                            <div>
                              <a href="#" class="btn btn-primary btn-md" onclick = "updateLandLineAssignment()" data-dismiss="modal">Update</a>
                            </div>
                          </div>
                        </fieldset>
                      </form>






                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                  
                </div>
              </div>


    <script>


        require('../renderer.js');

        var $     = require( 'jquery' );
        var mysql = require('mysql');
        // var bcrypt = require('bcrypt');


        var connection = mysql.createConnection({
            host     : 'mysql.qatar.cmu.local',
            user     : 'fmbills_devuser',
            password : 'PatUmNed', // or the original password : 'apaswword'
            database : 'fmbills_dev',
            insecureAuth: true
        });

        // connect to mysql
        connection.connect(function(err) {
            // in case of error
            if(err){
                console.log(err.code);
                console.log(err.fatal);
            }
        });


        // var app = angular.module('myApp', []);


        function endConnection() {
          connection.end();
        }


        $query = "SELECT `housing`.`unitNo`, `housing`.`landLine`, `employee`.`andrewId`, `compound`.`compName`, date_format(`assignment`.`startDate`, '%M %e, %Y') as startDate, date_format(`assignment`.`endDate`, '%M %e, %Y') as endDate, CONCAT_WS(' ', `employee`.`firstName`, `employee`.`lastName`) AS `empName`, `assignment`.`assignmentId` FROM `housing`, `compound`, `assignment`, `employee` WHERE `housing`.`compId` = `compound`.`compId` AND `housing`.`landline` = `assignment`.`landline` AND `employee`.`andrewId` = `assignment`.`andrewId`;";


        connection.query($query, function(err, rows, fields) {
          if(err){
              console.log("An error ocurred performing the query.");
              console.log(err);
              return; 
          }


          $('#occupiedHouses').bootstrapTable({
              data: rows ,
              height: 532,
              cache: false,
              striped: true,
              pagination: true,
              pageSize: 10,
              pageList: [10,25,50,100,200],
              minimumCountColumns: 2,
              search: true,
              showRefresh:true,
              checkboxEnable: true,
              columns: [{
                field: 'state',
                title: '',
                align: 'center',
                checkbox: true
              },{

                  field: 'unitNo',
                  title: 'Housing Unit',
                  sortable: true
              }, {
                  field: 'landLine',
                  title: 'Landline',
                  sortable: true
              }, {
                  field: 'compName',
                  title: 'Compound Name',
                  sortable: true
              }, {
                  field: 'startDate',
                  title: 'Start Date',
                  sortable: true
              }, {
                  field: 'endDate',
                  title: 'End Date',
                  sortable: true
              }, {
                  field: 'empName',
                  title: 'Employee',
                  sortable: true
              },  {
                  field: 'operate',
                  title: 'Edit',
                  align: 'center',
                  events: operateEventsAssignment,
                  formatter: operateFormatterAssignment
              }, ]
          });
        });



        function operateFormatterAssignment(value, row, index) {
            return [
                '<a class="edit" href="javascript:void(0)" title="Edit">',
                '<i class="glyphicon glyphicon-edit"  data-toggle="modal" data-target="#editAssignment" ></i>',
                '</a>  '
            ].join('');
        }

        window.operateEventsAssignment = {
            'click .edit': function (e, value, row, index) {
              $('#assignmentAndrewId').append($('<option value = "'+ row.andrewId+ '" >'+ row.andrewId + '</option>'))
              $('#assignmentLandlineNo').append($('<option value = "'+ row.landLine+ '" >'+ row.landLine + '</option>'))
              $("#assignmentStartDate").val(row.startDate)
              $("#assignmentEndDate").val(row.endDate)
              $("div.landLineSelect select").val(row.landLine);
              $("div.andrewIdSelect select").val(row.andrewId);
              $("#assignmentId").val(row.assignmentId)

              
              // $("div.compNameSelect select").val(row.compId);
              // $("#housingUnitId").val(row.unitNo)
            }
        };





    $query = "SELECT `employee`.`andrewId` FROM `employee` LEFT JOIN `assignment` on `employee`.`andrewId` = `assignment`.`andrewId` WHERE `assignment`.`andrewId` is null";

    connection.query($query, function(err, rows, fields) {
        if(err){
            console.log("An error ocurred performing the query.");
            console.log(err);
            return;
        }
        console.log(rows)
      $.each(rows, function(i, value) {
          $('#assignmentAndrewId').append($('<option value = "'+ value.andrewId+ '" >'+ value.andrewId + '</option>'))
      });

    });


    $query = "SELECT `landLine` FROM `housing` WHERE `vacant` = 1"
    connection.query($query, function(err, rows, fields) {
        if(err){
            console.log("An error ocurred performing the query.");
            console.log(err);
            return;
        }
      $.each(rows, function(i, value) {
          $('#assignmentLandlineNo').append($('<option value = "'+ value.landLine+ '" >'+ value.landLine + '</option>'))
      });

    });


        function updateLandLineAssignment(){
            var startDate = document.getElementById("assignmentStartDate").value
            var endDate = document.getElementById("assignmentEndDate").value
            // var unitNo = document.getElementById("housingUnitId").value
            var landLine = document.getElementById("assignmentLandlineNo").value
            // var compName = document.getElementById("housingCompName2").value
            var andrewId = document.getElementById("assignmentAndrewId").value
            var assignmentId = document.getElementById("assignmentId").value

        // UPDATE table_name SET field1 = new-value1, field2 = new-value2
        // [WHERE Clause]


          $query = "UPDATE `assignment` SET `startdate` = '"+ startDate + "', `enddate` = '"+ endDate +"', `landline` = '"+ landline +"', andrewId = '"+ andrewId+"' WHERE assignmentId = '"+ assignmentId+"';";

          connection.query($query, function(err, rows, fields) {
              if(err){
                  console.log("An error ocurred performing the query.");
                  console.log(err);
                  return;
              }

              alert("Assignment Succesfully Updated!")
              $('#editAssignment').hide()
              goLandlineMain();
 
          });
        }


function updateAssignment(landline){

    var startDate = document.getElementById("assignmentStartDate").value
    var endDate = document.getElementById("assignmentEndDate").value
    var andrewId = document.getElementById("assignmentAndrewId").value
    var landline = document.getElementById("assignmentLandline").value
  $query = "UPDATE `assignment` SET `startdate` = '"+ startDate + "', `enddate` = '"+ endDate +"', `landline` = '"+ landline +"', andrewId = '"+ andrewId+"';";

  connection.query($query, function(err, rows, fields) {
      if(err){
          console.log("An error ocurred performing the query.");
          console.log(err);
          return;
      }
      alert("Employee Succesfully Deleted!")
      $("#navigation").load("HouseMain.html");
  });


}























        $query = "SELECT `housing`.`unitNo`, `housing`.`landLine`, `compound`.`compName`, `compound`.`compId` FROM `housing`, `compound` where `housing`.`compId` =  `compound`.`compId` AND `vacant` = 1";

        connection.query($query, function(err, rows, fields) {
          if(err){
              console.log("An error ocurred performing the query.");
              console.log(err);
              return; 
          }
          console.log(rows)
          $('#vacantHouses').bootstrapTable({
              data: rows ,
              height: 532,
              cache: false,
              striped: true,
              pagination: true,
              pageSize: 10,
              pageList: [10,25,50,100,200],
              minimumCountColumns: 2,
              search: true,
              showRefresh:true,
              checkboxEnable: true,
              columns: [{
                field: 'state',
                title: '',
                align: 'center',
                checkbox: true
              }, {
                  field: 'unitNo',
                  title: 'Unit Number',
                  sortable: true,
              }, {
                  field: 'landLine',
                  title: 'Landline Number',
                  sortable: true
              }, {
                  field: 'compName',
                  title: 'Compound Name',
                  sortable: true
              },  {
                  field: 'operate',
                  title: 'Edit',
                  align: 'center',
                  events: operateEventsVacant,
                  formatter: operateFormatter
              }, ]
          });
        });


        function operateFormatter(value, row, index) {
            return [
                '<a class="edit" href="javascript:void(0)" title="Edit">',
                '<i class="glyphicon glyphicon-edit"  data-toggle="modal" data-target="#myModal" ></i>',
                '</a>  '
            ].join('');
        }

        window.operateEventsVacant = {
            'click .edit': function (e, value, row, index) {
              $("#housingUnitNo").val(row.unitNo)
              $("#housingLandLine").val(row.landLine)
              $("div.Select select").val(row.compId);
            }
        };

        function updateHousing(){

            var unitNo = document.getElementById("housingUnitNo").value
            var landLine = document.getElementById("housingLandLine").value
            var compName = document.getElementById("housingCompName").value

        // UPDATE table_name SET field1 = new-value1, field2 = new-value2
        // [WHERE Clause]


          $query = "UPDATE `housing` SET `unitNo` = '"+  unitNo  +"', `compId` = '"+ compName + "' WHERE `landLine` = '"+  landLine  +"'";

          connection.query($query, function(err, rows, fields) {
              if(err){
                  console.log("An error ocurred performing the query.");
                  console.log(err);
                  return;
              }
              alert("Housing Succesfully Updated!")
              $('#myModal').hide()
              goLandlineMain();
          });
        }



        $query = "SELECT * FROM `compound`";

        connection.query($query, function(err, rows, fields) {
            if(err){
                console.log("An error ocurred performing the query.");
                console.log(err);
                return;
            }
          var compIds = rows
          $.each(rows, function(i, value) {
              console.log(value.compId)
              $('#housingCompName').append($('<option value = "'+ value.compId+ '" >'+ value.compName + '</option>'))
              // $('#housingCompName2').append($('<option value = "'+ value.compId+ '" >'+ value.compName + '</option>'))
          });

        });
</script>